.bestowal__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.bestowal__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #000;
}

.bestowal__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
}

.bestowal__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.bestowal__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.bestowal__cta-btn button {
    color: #000;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 650px) {
    .bestowal__cta {
        flex-direction: column;
    }

    .bestowal__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .bestowal3__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .bestowal__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .bestowal__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
